.form-header {
    height: 87vh;
    min-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    backdrop-filter: blur(5px);
    border-radius: 8px;

    height: max-content;
    padding: 2rem;

    opacity: 0;
    transform: translateY(-5%);
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form-header-description {
    width: 90%;
    margin-right: 2rem;
}

#form-head {

    font-family: "TrapB";
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#form-text {
    margin-top: 1rem;
    font-family: "TrapL";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.05rem;
    width: 90%;
}

.form-content-form {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem;
    height: max-content;
    width: 100%;

    border-radius: 0.75rem;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.45);
}

form>* {
    margin-bottom: 1rem;
}

.form-address {
    display: flex;
    flex-direction: column;
}

.form-address>* {
    margin-bottom: 0.25rem;
}

.form-name,
.form-age {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#form-head {
    text-transform: uppercase;
}

input {
    all: unset;
    font-family: "TrapS";
    border-radius: 0.75rem;
    background: #FFF;
    color: black;
    width: 26.586rem;
    height: 2.10625rem;
    flex-shrink: 0;
    padding: 0.5rem;
}

#form-actions-submit {
    all: unset;
    cursor: pointer;
    border-radius: 8px;
    background: transparent;
    padding: 0.25rem;
    transition: all 0.25s ease-in-out;
}

#form-actions-submit:hover {
    background-color: black;

}

label {
    font-family: "TrapB";
    font-size: 1.2rem;
    margin: 0.25rem 0;
}