<div class="form-header">
  <div class="form-content">
    <div class="form-header-description">
      <h1 id="form-head">Füge einen neuen Nutzer hinzu</h1>
    </div>

    <div class="form-content-form">
      <form (submit)="onSubmit()" #formData="ngForm">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          placeholder="Namen eintragen"
          [(ngModel)]="name"
          id="inputName"
        />

        <label for="email">E-Mail</label>
        <input
          type="text"
          name="email"
          placeholder="E-Mail eintragen"
          [(ngModel)]="emailAddress"
          id="inputEmail"
        />

        <div class="form-actions">
          <button id="form-actions-submit" type="submit">Eingaben bestätigen</button>
        </div>
      </form>
    </div>
  </div>
</div>
