.user-container {
    height: max-content;
    width: 100%;
    position: absolute;
    top: 25vh;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#filter-input {
    width: 50vw;
    height: max-content;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1.65rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: 600;

}

#filter-input::placeholder {
    text-transform: uppercase;
    color: gray;
}

#filter-input:active {
    color: gray;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 2rem;
    padding: 2rem;


}

.user-actions {
    border-top: 0.25px solid black;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}

.user-card {
    cursor: pointer;
    width: 420px;
    height: 550px;
    max-width: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;




    transition: all 0.5s ease-in-out;
}

.user-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.253);
}

.user-image {
    width: 100%;
    height: 100%;
    position: relative;
    /* Wichtig für absolute Positionierung des Bildes */
    overflow: hidden;
    /* Verhindert das Überlaufen von Bildern über den Rahmen */
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.user-info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}


#user-name {
    margin-top: .5rem;
    color: black;
    font-size: 1.75rem;
    font-weight: 700;
}

#user-email {
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

#user-action__delete {
    all: unset;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    padding: .5rem;
    font-size: 0.85rem;
    transition: all 0.25s ease-in-out;
}

#user-action__delete:hover {
    background-color: rgba(215, 34, 34, 0.486);
}