<div class="user-container">
  <div class="user-filter">
    <input id="filter-input" type="text" placeholder="Nutzername" [formControl]="filterUsername" name="name" />
  </div>
  <div class="user-content">
    <ul>
      <ng-container *ngIf="(users | filterUsers: (filterUsername.value || '')); else noUsersFound">
        <div *ngFor="let singleUser of users | filterUsers: (filterUsername.value || ''); let singleUserIndex = index"
          class="user-card" id="user-card">
          <div class="user-image" (click)="onUserDetailClick(singleUser.id)">
            <img src={{singleUser.picture}} id="user-img" />
          </div>
          <div class="user-info">
            <div class="user-header">
              <h3 id="user-name">{{ singleUser.name }}</h3>
            </div>

            <div class="user-age">
              <h4 id="user-age">Age {{ singleUser.age }}</h4>
            </div>

            <div class="user-location">
              <h4 id="user-location">{{ singleUser.address.city }}, {{singleUser.address.country}}</h4>
            </div>
            <!-- 
            <div class="user-actions">
              <button id="user-action__delete" (click)="onDeleteUser(singleUser.email)">
                Löschen
              </button>
            </div> -->
          </div>
        </div>
      </ng-container>
      <ng-template #noUsersFound>
        <div class="template">

          <h1 id="noUser">KEINE NUTZER</h1>
        </div>
      </ng-template>
    </ul>

  </div>
</div>