<div class="home-container" [ngClass]="{'disable-scroll': disableScroll}">

    <div class="home-logo">
        <img src="../../assets/images/plainlogo.svg" alt="Home Illustration of Company Logo" />
    </div>

    <div class="home-content">
        <div class="home-preview">
            <div class="preview-img">
                <img src="../../assets/images/previewimg.png" alt="Preview Illustration">
            </div>
        </div>

        <div class="home-text-container">
            <h1 id="home-header">
                Die Kunst der Nutzerverwaltung meistern
            </h1>

            <p id="home-text">Mühelose Kontrolle, nahtlose Zusammenarbeit – Userwise definiert die Nutzerverwaltung neu
                für beispiellose Effizienz und Präzision. Verbessere noch heute deine Nutzererfahrung.
            </p>

            <button id="home-btn">
                <a routerLink="/dashboard">Zum Dashboard</a>
            </button>


        </div>
    </div>
</div>